[submodule "_test_services/test-manager"]
	path = _test_services/test-manager
	url = https://github.com/sds-framework/test-manager.git
[submodule "_test_services/server"]
	path = _test_services/server
	url = https://github.com/sds-framework/test-manager.git
[submodule "_test_services/uncompilable"]
	path = _test_services/uncompilable
	url = https://github.com/sds-framework/test-manager.git
[submodule "_test_services/with-error"]
	path = _test_services/with-error
	url = https://github.com/sds-framework/test-manager.git
